<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
  <div class="page-header text-center">
    <h1>Listing Blogs</h1>
  </div>
</div>

<div id="table-container" class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Seq no</th>
        <th class="text-center">Writer</th>
        <th class="text-center">Heading</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each_with_index do |blog, index| %>
        <tr class="info">
          <td class="text-center"><%= index + 1 %></td>
          <td class="text-center"><%= blog.writer %></td>
          <td class="text-center"><%= blog.heading %></td>
          <td class="text-center">
            <a href="/blogs/<%= blog.id %>" rel="tooltip" title="Show">
              <i class= "glyphicon glyphicon-search"></i>
            </a>
            <a href="/blogs/<%= blog.id %>/edit" rel="tooltip" title="Edit">
              <i style="padding-left:10px;" class= "glyphicon glyphicon-edit"></i>
            </a>
            <a href="/blogs/<%= blog.id %>" rel="tooltip" title="Delete" "data-confirm"= "Are you sure you want to delete this brand?" "data-method"="delete">
              <i style="padding-left:10px;" class= "glyphicon glyphicon-trash" ></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div id="bottom-container" class="container">
  <%= link_to 'New Blog', new_blog_path, class: 'btn btn-info' %>
</div>
