<p id="notice"><%= notice %></p>

<p>
  <strong>Writer:</strong>
  <%= @blog.writer %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @blog.heading %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
